<p style="color: green"><%= notice %></p>

<%= render @article %>


<div class="d-flex justify-content-start gap-1">
      <%= button_to " D E L E T E", @article, method: :delete, :class => "p-2 btn fa-solid fa-trash btn-danger" %>

      <%= link_to edit_article_path(@article), {:class => "text-decoration-none btn btn-warning"} do %>
        <i class="fa-solid fa-pen"></i> Edit this article
      <% end %>

      <%= link_to articles_path, {:class => "text-decoration-none btn btn-primary"} do %>
        <i class="fa-solid fa-rotate-left"></i>
        Back to articles
      <% end %>
</div>
