<div class="m-3 border shadow">
  <div class="d-flex flex-column p-4 bg-light">
    <h3><%= flat.name %></h3>
    <h6><%= flat.address %></h6>
    <div class="d-flex">
      <div class="mx-2">
          <i class="fa-solid fa-coins"></i>
          <%= flat.price_per_night %>
      </div>
      <div class="mx-2">
          <i class="fa-solid fa-users"></i>
          <%= flat.number_of_guests %>
      </div>
    </div>
  </div>

  <div class="border-top p-3">
    <%= link_to "See details", flat_path(flat), class: "card-link"%>
    <%= link_to "Edit", edit_flat_path(flat), class: "card-link text-warning"%>
    <%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-link text-danger"%>
  </div>

</div>
